/* #region - VAREABLES */

:root {
  --primary-color: #c72727;
  --secondary-color: #E58B05;
  --technology-color: #009CFF;
  --entertainment-color: #A66BBE;
  --sport-color: #F99500;
  --header-height: 73px;
}

@media (max-width:640px) {
  :root {
    --header-height: 120px;
  }
}

/* #endregion - VAREABLES */

/* #region - GRID-AREA */

.section-2 > .container > .articles > article:nth-child(1) {
  grid-area: article-1;
}

.section-2 > .container > .articles > article:nth-child(2) {
  grid-area: article-2;
}

.section-2 > .container > .articles > article:nth-child(3) {
  grid-area: article-3;
}

.section-2 > .container > .articles > article:nth-child(4) {
  grid-area: article-4;
}

.section-2 > .container > .articles > article:nth-child(5) {
  grid-area: article-5;
}

.section-2 > .container > .articles > article:nth-child(6) {
  grid-area: article-6;
}

.section-2 > .container > .articles > article:nth-child(7) {
  grid-area: article-7;
}


.footer-1 {
  grid-area: footer-1;
}

.footer-2 {
  grid-area: footer-2;
}

.footer-3 {
  grid-area: footer-3;
}

.footer-4 {
  grid-area: footer-4;
}

.footer-5 {
  grid-area: footer-5;
}

.social {
  grid-area: social;
}

/* #endregion - GRID-AREA */

/* #region - UTILITY CLASSES */

.btn {
  padding: 10px;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-red {
  background: var(--primary-color);
  color: #ffffff;
}

.btn-light {
  background: #ffffff;
  color: #000000;
}

.btn-dark {
  padding: 5px;
  background: var(--third-color);
  color: #ffffff;
}

.btn-warning {
  padding: 5px;
  background: var(--secondary-color);
  color: #ffffff;
}

.btn-primary {
  padding: 5px;
  background: #000000;
  color: #ffffff;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.btn-red:hover {
  background-color: #F3F3F3;
  color: black;
}

.btn-light:hover {
  background-color: #F3F3F3;
}

.head {
  display: inline-block;
  font-size: 9px;
  border-radius: 16px;
  text-transform: uppercase;
  padding: 7px;
  color: #fff;
}

.head-sport {
  background-color: var(--sport-color);
}

.head-entertainment {
  background-color: var(--entertainment-color);
}

.head-technology {
  background-color: var(--technology-color);
}

@media (max-width: 640px) {
  .btn {
    padding: 15px !important;
    font-size: 30px !important;
  }
}

/* #endregion - UTILITY CLASSES */

/* #region - CORE STYLING */

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

body p {
  line-height: 25px;
}

.grid-wraper {
  display: grid;
}

@media (max-width: 640px) {
  body p{
    line-height: 40px;
  }
  p {
    font-size: 30px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 20px !important;
  }
}

/* #endregion - CORE STYLING */

/* #region - HEADER */

.header-wraper {
  line-height: var(--header-height);
  width: 100%;
  position: fixed;
  background-color: #ffffff;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > img {
  width: 180px;
}

.social-icons > * {
  font-size: 32px;
  color: #777777;
  margin-right: 7px;
}

@media (max-width: 640px) {
  .header {
    grid-template-columns: 3fr 2fr auto;
  }
  .header > img {
    width: 250px;
  }
  .social-icons > * {
    font-size: 52px;
  }

  .header > ul > a {
    height: 40px;
    width: 60px;
  }
}

/* #endregion - HEADER */

/* #region - SECTION-1 */

.section-1 {
  background: gray url(../img/featured-1.jpg) no-repeat center center/cover;
  -webkit-box-shadow: inset 0px 0px 10000px 10000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 10000px 10000px rgba(0, 0, 0, 0.5);
  margin-top: var(--header-height);
}

.section-1 > .container {
  padding: 150px 0;
}

.section-1 > .container > div {
  max-width: 500px;
}

.section-1 > .container > div > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0;
  text-transform: uppercase;
}

.section-1 > .container > div > p {
  margin-bottom: 20px;
  color: #fff;
}

@media (max-width: 640px){
  .section-1 > .container > div {
    max-width: 100%;
    padding: 0 40px;
  }
  .section-1 > .container > div > * {
    margin-bottom: 40px !important;
  }
}

/* #endregion - SECTION-1 */

/* #region - SECTION-2 */

.section-2 {
  background-color: #f3f3f3;
}

.section-2 > .container {
  margin-bottom: 25px;
}

.section-2 > .container > h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 40px;
}

.articles {
  display: grid;
  grid-gap: 20px;
  min-height: 1000px;
  grid-template-areas: 
  "article-1 article-1 article-2" 
  "article-3 article-4 article-5" 
  "article-3 article-4 article-5" 
  "article-6 article-7 article-7"
}

.articles > article:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.articles > article:nth-child(1) > .div-article > h3 {
  margin-top: 40px;
}

.articles > article:nth-child(1) .div-img {
  background: gray url(../img/articles/ent11.jpg) no-repeat center center/cover;
  margin-right: 20px;
}

.articles > article > .div-article > h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.articles > article:nth-child(2) {
  background: #333;
  color: #fff;
  padding-left: 10px;
}

.articles > article:nth-child(2) h3 {
  margin-top: 15px;
}

.articles > article:nth-child(3) .div-img {
  background: gray url(../img/articles/tech11.jpg) no-repeat center center/cover;
  margin-right: 20px;
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
}

.articles > article:nth-child(4) .div-img {
  background: gray url(../img/articles/sports11.jpg) no-repeat center center/cover;
  margin-right: 20px;
  width: 100%;
  height: 50%;
}

.articles > article:nth-child(4) .div-article {
  width: 100%;
  height: 50%;
}

.articles > article:nth-child(4) h3 {
  margin-top: 15px;
}

.articles > article:nth-child(5) .div-img {
  background: gray url(../img/articles/tech22.jpg) no-repeat center center/cover;
  margin-right: 20px;
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
}

.articles > article:nth-child(6) {
  background: #c72727;
  color: #fff;
  padding-left: 10px;
}

.articles > article:nth-child(6) h3 {
  margin-top: 15px;
}

.articles > article:nth-child(7) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.articles > article:nth-child(7) > .div-article > h3 {
  margin-top: 40px;
}

.articles > article:nth-child(7) .div-img {
  background: gray url(../img/articles/ent22.jpg) no-repeat center center/cover;
}

.articles > article:nth-child(7) .div-article {
  margin-left: 20px;
  margin-right: 20px;
}

.articles > article {
  padding: 10px;
  background-color: #fff;
}

@media (max-width: 640px) {
  .articles {
    grid-template-areas: 
    "article-1 article-1" 
    "article-7 article-7"
    "article-3 article-4" 
    "article-3 article-4" 
    "article-5 article-6"
    "article-5 article-2"
  }
}

/* #endregion - SECTION-2 */

/* #region - FOOTER */

.footer {
  background: #333;
  color: #fff;
  /* padding-bottom: 50px; */
}

.footer > .container {
  display: grid;
  grid-gap: 0 50px;
  grid-template-areas: 
  "footer-1 footer-2 footer-3 footer-4" 
  "footer-5 footer-5 footer-5 footer-5"
  "social social social social"
}

.footer > .container > *:not(:last-child),
.footer > .container > *:not(:nth-child(2)) {
  min-width: 240px;
}


.footer-1 img {
  width: 150px;
  margin: 20px 0;
}

.footer-2 > h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 10px 0;
}

.footer-2 input {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.footer-3 > h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}

.footer-3 li > a {
  color: #fff;
  line-height: 40px;
  padding-bottom: 10px;
}

.footer-3 li {
  display: block;
  border-bottom: 2px dotted #555;
}

.footer-3 li:last-child {
  margin-bottom: 40px;
}

.footer-3 li > a:hover {
  color: #C72727;
}

.footer-4 > h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px;
}

.footer-4 a {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 24px;
  font-size: 16px;
}

.footer-5 {
  text-align: center;
  /* padding: 20px 0; */
  width: 100%;
  background: #444;
  height: 60px;
}

.footer-5 > p {
  line-height: 60px;
}

@media (max-width: 640px) {
  .footer > .container {
    grid-template-areas: 
    "footer-1 footer-1 footer-1 footer-1" 
    "footer-2 footer-3 footer-4 ." 
    "footer-5 footer-5 footer-5 footer-5"
    "social social social social"
  }

  .footer-1 img {
    display: block;
    margin: auto;
    width: 250px;
    /* margin: 20px 0; */
    padding: 20px 0;
  }

  .footer-1 {
    margin-bottom: 30px;
  }

  footer > .container {
    padding: 0 50px;
  }

  .footer-2, .footer-3, .footer-4 {
    margin-bottom: 50px;
  }

  .footer-2 input {
    height: 40px;
    font-size: 30px;
  }

  .footer-5 {
    font-size: 30px;
    /* padding: 30px 0; */
  }
  
}

/* #endregion - FOOTER */

/* #region - SOCIAL */

.social {
  background: #333;
  display: grid;
  grid-gap: 0 30px;
  grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.social > a {
  color: #4166B1;
}

/* #endregion - SOCIAL */
